.form-container {
  margin: 0 auto;
  width: 200px;
}
.form-container form {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.form-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 1rem 0;
}
.form-control > * {
  width: 100%;
}
.form-control input {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 4px;
}
.form-actions > * {
  width: 100%;
}
.form-actions button {
  border-radius: 8px;
  font-weight: bold;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 0;
}
.error-text {
  color: red;
  text-align: center;
}
